<div class="page_container">
    <div>
        <%= image_tag("icon.png", alt: "App icon", class: "app_icon") %>
    </div>
    <h1 class="title_font">FastFinder</h1>
    
    <div class="search_field">
        <%= form_tag(method: "post") do %>
            <div class="flexed">
                <%= text_field_tag(:search, params[:search], placeholder: "Search", id: "search_bar") %>
                <%= image_submit_tag("search.svg", alt: "Search icon", class: "search_icon button") %>
            </div>
        <% end %>
    </div>

    <div class="results_container">
    <div>
</div>


